## Declaring Tuple

In [2]:
# Method 1
T = ("Rhumeet", 'Bhatia',15,9)
print ("T               ===>",T)
print ("Num of elements ===>",len(T))
print ("Type of Object  ===>",type(T))

T               ===> ('Rhumeet', 'Bhatia', 15, 9)
Num of elements ===> 4
Type of Object  ===> <class 'tuple'>

In [3]:
# Method 2
T = tuple(["Pratham", 'Sharma', 3.14, 3])   # Convert list to tuple
print ("T               ===>", T)
print ("Num of elements ===>", len(T))
print ("Type of Object  ===>", type(T))

T               ===> ('Pratham', 'Sharma', 3.14, 3)
Num of elements ===> 4
Type of Object  ===> <class 'tuple'>

In [4]:
# Tuple Iteration
print ("T -->", T)
i = 0
while i < len(T):
    print (T[i])
    i += 1

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

In [5]:
for i in range(0, len(T)):
    print (T[i])

Pratham
Sharma
3.14
3

In [6]:
for i in T:
    print (i)

Pratham
Sharma
3.14
3

In [7]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)
print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

T     --> (3, 6, 9, 12, 5, 3, 2)
T[1]  --> 6
T[2]  --> 9
T[-1] --> 2
T[-2] --> 3

In [8]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)
print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

T        --> (3, 6, 9, 12, 5, 3, 2)
T[1:3]   --> (6, 9)
T[2:]    --> (9, 12, 5, 3, 2)
T[2:5]   --> (9, 12, 5)
T[:2]    --> (3, 6)
T[:-1]   --> (3, 6, 9, 12, 5, 3)
T[-4:-1] --> (12, 5, 3)

In [9]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))
print ("Max -->", max(T))
print ("Min -->", min(T))

T       --> (3, 6, 9, 12, 5, 3, 2)
Sum     --> 40
Average --> 5.714285714285714
Average --> 5
Max --> 12
Min --> 2

In [10]:
T = ("Rhumeet", "Bhatia", "Hello", "Hi")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi')
Max --> Rhumeet
Min --> Bhatia

In [11]:
# Merging Tuples
T1 = (1,2,3,4)
T2 = (12,6,4)
print ("T1 -->", T1)
print ("T2 -->", T2)
T3 = T1 + T2
print ("T3 -->", T3)
T4 = T1 + T2 + T1 + T2
print ("T4 -->", T4)

T1 --> (1, 2, 3, 4)
T2 --> (12, 6, 4)
T3 --> (1, 2, 3, 4, 12, 6, 4)
T4 --> (1, 2, 3, 4, 12, 6, 4, 1, 2, 3, 4, 12, 6, 4)

In [12]:
# Merging part of Tuples
print ("T1 -->", T1)
print ("T2 -->", T2)
T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)
T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

T1 --> (1, 2, 3, 4)
T2 --> (12, 6, 4)
T3 --> (2, 6, 4)
T4 --> (1, 2)

In [13]:
# Searching in the tuple
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

T       --> (3, 6, 9, 12, 5, 3, 2)
6  in T --> True
10 in T --> False
12 in T --> True

In [14]:
# Adding element to Tuple (Error)
T = ("Rhumeet", "Bhatia", "Hello", "Hi") 
print ("T -->", T)
try:
    T[2] = 900              
except Exception as e:
    print(e)
print ("T -->", T)

#Tuples are unchangeable. We cannot add items to it.

T --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi')
'tuple' object does not support item assignment
T --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi')

In [15]:
# Adding element to Tuple - (Jugaad)
print ("T         -->", T)
l = list(T)
l.append(10)
T = tuple(l)
print ("After Add -->", T)

T         --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi')
After Add --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi', 10)

In [16]:
#  Inserting element in Tuple - (Jugaad)
print ("T            -->", T)
l= list(T)
l.insert(2, "Rahul")
T=tuple(l)
print ("After Insert -->", l)

T            --> ('Rhumeet', 'Bhatia', 'Hello', 'Hi', 10)
After Insert --> ['Rhumeet', 'Bhatia', 'Rahul', 'Hello', 'Hi', 10]

In [17]:
# Deleting from Tuple (Error)
print ("T            -->", T)
try:
    del T[1]
except Exception as e:
    print(e)
print ("After Delete -->", T)

T            --> ('Rhumeet', 'Bhatia', 'Rahul', 'Hello', 'Hi', 10)
'tuple' object doesn't support item deletion
After Delete --> ('Rhumeet', 'Bhatia', 'Rahul', 'Hello', 'Hi', 10)

In [18]:
# Deleting from Tuple - (Jugaad)
print ("T            -->", T)
l = list(T)
del l[1]
T = tuple(l)
print ("After Delete -->", T)

T            --> ('Rhumeet', 'Bhatia', 'Rahul', 'Hello', 'Hi', 10)
After Delete --> ('Rhumeet', 'Rahul', 'Hello', 'Hi', 10)