In [1]:
str1= 'Hello World!'
print ("str1 =",str1)
print ("str1[0] ",str1[0])
print ("str1[1:7]",str1[1:7])
print ("str1[:-5]",str1[:-5])

str1 = Hello World!
str1[0]  H
str1[1:7] ello W
str1[:-5] Hello W

In [2]:
print(str1.upper())
print(str1.lower())
print(len(str1))

HELLO WORLD!
hello world!
12

In [3]:
# String formatting
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
str1="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (str1)

Enter your name:  Rhumeet Bhatia
Enter your age :  19
Enter the book price:  1000

Your name is RHUMEET BHATIA, age is 19 and book price is 1000.000000

In [4]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

This is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

In [5]:
str1='   A for    Apple        '
print(str1)
print(f'len of {str1} = {len(str1)}')
str1=str1.strip()
print(str1)
print(f'len of {str1} = {len(str1)}')

   A for    Apple
len of    A for    Apple         = 25
A for    Apple
len of A for    Apple = 14

In [6]:
l1=str1.split()
l2=str1.split(' ')
l3=str1.split('p')
l1,l2,l3

(['A', 'for', 'Apple'],
 ['A', 'for', '', '', '', 'Apple'],
 ['A for    A', '', 'le'])

In [7]:
print(str1)
print(str1.count(''))
print(str1.count(' '))
print(str1.count('p'))

A for    Apple
15
5
2

In [8]:
# reversing the string
str1='Hello World!'
print(str1[::-1])

!dlroW olleH

In [9]:
# Palindrome Checking
str1='abcbbcba'
if str1==str1[::-1]:
    print(f'{str1} is palindrome')

abcbbcba is palindrome