In [1]:
i=1
while i<=10:
	print(i,end=' ')
	i = i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

range(10)        -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)     -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)    -->  [2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2)-->  [-10, -12, -14, -16, -18]

In [3]:
for i in range(0,10):
	print (i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(0,20,3):
	print (i,end=' ')

0 3 6 9 12 15 18

In [5]:
for i in range(0,-10,-1):
	print (i,end=' ')

0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [6]:
for i in range(1,11):
	print (f'5 * {i} = {5*i}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
#Sum all numbers from 1 to 10
s=0
for i in range(1,11):
	s=s+i
print ("Sum =",s)

Sum = 55

In [8]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [9]:
#Assignment 4.1  WAP to print the table of 7, 9.
for i in range(1,11):
	print (f'7 * {i} = {7*i}')
print('\n\n')
for i in range(1,11):
	print (f'9 * {i} = {9*i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70



9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [10]:
#Assignment 4.2        WAP to print the table of n and n is given by user.
n=eval(input('Enter the no. whose table you want: '))
for i in range(1,11):
	print (f'{n} * {i} = {n*i}')

Enter the no. whose table you want:  6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [11]:
#Assignment 4.3        WAP to add all the numbers from 1 to n and n is given by user.
n=eval(input('Enter the no. whose table you want: '))
print ("Sum=", sum(range(1,n+1)))

Enter the no. whose table you want:  15

Sum= 120