## 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
- WAP to add 200 and 300 to L.
- WAP to remove 10 and 30 from L.
- WAP to sort L in ascending order.
- WAP to sort L in descending order.

In [2]:
l1=[10,20,30,40,50,60,70,80]
print(l1)
l1.append(200)
print(l1)
l1.append(300)
print(l1)
l1.remove(10)
print(l1)
l1.remove(30)
print(l1)
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
- Identify the highest score and its index in the tuple.
- Find the lowest score and count how many times it appears.
- Reverse the tuple and return it as a list.
- Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [4]:
t1=(45,89.5,76,45.4,89,92,58,45)
print(t1)
print(f'Highest score is {max(t1)} and it is present at {t1.index(max(t1))} index')
print(f'Highest score is {min(t1)} and it is present {t1.count(min(t1))} times')
l=list(t1[::-1])
print('Reverse order is:',l)
try:
    num=eval(input('Enter score to check'))
    index=t1.index(num)
    print(f'{num} is present in tuple at index {index}')
except:
    print(f'{num} is not present in tuple')

(45, 89.5, 76, 45.4, 89, 92, 58, 45)
Highest score is 92 and it is present at 5 index
Highest score is 45 and it is present 2 times
Reverse order is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter score to check 76

76 is present in tuple at index 2

## 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
- All odd numbers
- All even numbers
- All prime numbers

In [6]:
import random as r
import sympy as sp
l2=r.sample(range(100,900),100)
print('List is:',l2)
l2_odd=[i for i in l2 if i%2!=0]
l2_even=[i for i in l2 if i%2==0]
l2_prime=[i for i in l2 if sp.isprime(i)]
print('\n')
print("Odd numbers are: ",l2_odd)
print('\n')
print("Even numbers are: ",l2_even)
print('\n')
print("Prime numbers are: ",l2_prime)
print('\n')

List is: [600, 567, 198, 771, 168, 729, 503, 680, 449, 743, 279, 177, 239, 106, 150, 234, 699, 172, 392, 485, 664, 139, 144, 298, 473, 375, 263, 362, 783, 831, 585, 796, 453, 290, 465, 319, 479, 220, 315, 119, 609, 615, 770, 191, 589, 125, 810, 493, 143, 669, 530, 495, 113, 798, 735, 653, 602, 825, 115, 684, 491, 250, 454, 847, 553, 529, 110, 497, 273, 221, 516, 697, 774, 406, 549, 196, 732, 481, 213, 809, 219, 731, 871, 533, 134, 339, 714, 179, 435, 313, 851, 340, 188, 859, 730, 152, 734, 708, 511, 373]


Odd numbers are:  [567, 771, 729, 503, 449, 743, 279, 177, 239, 699, 485, 139, 473, 375, 263, 783, 831, 585, 453, 465, 319, 479, 315, 119, 609, 615, 191, 589, 125, 493, 143, 669, 495, 113, 735, 653, 825, 115, 491, 847, 553, 529, 497, 273, 221, 697, 549, 481, 213, 809, 219, 731, 871, 533, 339, 179, 435, 313, 851, 859, 511, 373]


Even numbers are:  [600, 198, 168, 680, 106, 150, 234, 172, 392, 664, 144, 298, 362, 796, 290, 220, 770, 810, 530, 798, 602, 684, 250, 454, 110, 516, 774, 406, 196, 732, 134, 714, 340, 188, 730, 152, 734, 708]


Prime numbers are:  [503, 449, 743, 239, 139, 263, 479, 191, 113, 653, 491, 809, 179, 313, 859, 373]

## 4. Consider the following two sets, A and B, representing scores of two teams in mutiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:
- Find the unique scores achieved by both teams (union of sets).
- Identify the scores that are common to both teams (intersection of sets).
- Find the scores that are exclusive to each team (symmetric difference).
- Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
- Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [8]:
A={34,56,78,90}
B={78,45,90,23}
print(f'Team A score is: {A}')
print(f'Team B score is: {B}')
print(f'Unique scores achieved by both the teams are: {A|B}')
print(f'Common scores achieved by both the teams are: {A&B}')
print(f'Scores exclusive to both the teams: {A.symmetric_difference(B)}')
if A.issubset(B):
    print('A is subset of B')
else:
    print('A is not a subset of B')
if B.issuperset(A):
    print('B is superset of A')
else:
    print('B is not a superset of A')
num=eval(input('Enter score to check'))
if num in A:
    A.remove(num)
    print(f'{num} is removed from A and new set is {A}')
else:
    print(f'{num} is not present in A')

Team A score is: {56, 34, 90, 78}
Team B score is: {90, 45, 78, 23}
Unique scores achieved by both the teams are: {34, 45, 78, 23, 56, 90}
Common scores achieved by both the teams are: {90, 78}
Scores exclusive to both the teams: {34, 45, 23, 56}
A is not a subset of B
B is not a superset of A

Enter score to check 34

34 is removed from A and new set is {56, 90, 78}

## 5. Write a program to rename a key city to a location in the following dictionary.

 Given:
      sample_dict={
          "name": "Kelly",
          "age":25,
          "salary": 8000,
          "city": "New york"
      }

 Expected output:
        {"name": "Kelly","age":25,"salary": 8000,"location": "New york"}

In [10]:
sample_dict={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}